<div class="topic-index-wrapper">
  <div class="container">
    <%= render :partial => 'children/topic_item', :locals => { :topics => @commented_topics} %>
  </div>
</div>
<%# 松田追加 %>
<%= putScrTopJs %>
